<div class="container">
    <p>
        This is the full list of router events in the table below.
    </p>            
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Router Event</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>NavigationStart</td>
          <td>An event triggered when navigation starts.</td>
        </tr>

        <tr>
          <td>RoutesRecognized</td>
          <td>An event triggered when the Router parses the URL and the routes are recognized.</td>
        </tr>

        <tr>
          <td>RouteConfigLoadStart</td>
          <td>An event triggered before the Router lazy loads a route configuration.</td>
        </tr>

        <tr>
            <td>RouteConfigLoadEnd</td>
            <td>An event triggered after a route has been lazy loaded.</td>
          </tr>
          <tr>
              <td>NavigationEnd</td>
              <td>An event triggered when navigation ends successfully.</td>
            </tr>
            <tr>
                <td>NavigationCancel</td>
                <td>An event triggered when navigation is canceled. This is due to a Route Guard returning false during navigation.</td>
              </tr>
              <tr>
                  <td>NavigationError</td>
                  <td>An event triggered when navigation fails due to an unexpected error.</td>
                </tr>        
      </tbody>
    </table>
  </div>
  