<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{title}}!
  </h1>
  </div>
  
  <nav  class="navbar navbar-inverse">
    <a [routerLink]="['./main']"   queryParamsHandling="merge"><span class="ang"></span></a>
      <ul class="nav navbar-nav" >
        <li><a [routerLink]="['./routerevent']"  queryParamsHandling="merge">Route Event</a></li>     
        <li><a [routerLink]="['./activatedroute']"  [queryParams]="{debug: true}" queryParamsHandling="merge">Activated Route</a></li>
        <li><a [routerLink]="['./routerparts']"  [queryParams]="{debug: true}" queryParamsHandling="merge">Router parts</a></li>
        <li><a [routerLink]="['./contact']"  [queryParams]="{debug: false}" queryParamsHandling="merge">Contact</a></li>
      </ul>
  </nav>
  <router-outlet></router-outlet>
